# Compiled files
*.class
.compiled

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/bin/

# IDE
.vscode/
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
*.idea
*.xml
**/out/

# Misc
*.swp
*.swo
*~
.env
sources.txt
simulation.txt
